# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used Libraries for Data Science
- Create single column table using markdown in jupyter notebook
- Evaluating few arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- Matplotlib
- SciPy
- Keras
- Tensorflow
- Seaborn

| Data Science Tools |
| -------------------- |
| Apache Spark |
| Tensor Flow |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

## Author
Yuvasri S